{%extends 'base.html'%} {%load static%} {%block content%}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>RISK MANAGEMENT<span>UNIT</span></h1>
    <h2>stay connected</h2>
    <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      {% comment %}
      <a
        href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
        class="glightbox btn-watch-video"
        ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
      >
      {% endcomment %}
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
        <img
          src="{% static 'assets/img/favicon.png'%}"
          class="img-thumbnail"
          alt=""
        />
      </div>
      <div
        class="col-lg-8 pt-4 pt-lg-0 content d-flex flex-column"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card">
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>RISK MANAGEMENT UNIT</h5>
                <p class="justify-content-start">
                  Risk Management forms part of UDSM’s governance and control
                  arrangements. It is not an isolated activity, rather, it is
                  one of the elements included in planning, project and
                  performance management of the various activities of
                  University. UDSM Risk Management activities are guided by
                  University Risk Management Framework which includes risk
                  management policy, fundamental principles, risk philosophy,
                  risk strategies, governance structures, risk implementation
                  processes and monitoring and review. On the other hand, the
                  framework is informed by International <b>Risk Management –
                  Guidelines (ISO 31000:2018) and relevant National Guidelines.</b>
                  The Framework is operationalized through UDSM Risk Register
                  which is reviewed annually. The function of Risk Management is
                  responsible to undertake the following functions: To ensure
                  that all the current and future risk exposures of the UDSM are
                  identified, assessed, quantified, and appropriately mitigated
                  and managed; To establish a framework for the UDSM’s risk
                  management process and to ensure a University wide
                  implementation; To enable compliance with appropriate
                  regulations, wherever applicable through adoption of best
                  practices; and To aid quality of decision making throughout
                  the University This Unit is led by Risk Coordinator who report
                  directly to the Director of Planning, Development and
                  Investment.
                </p>
              </div>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

{%endblock%}
